.Algorighm {
  text-align: center;
}

.Algorighm-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.Algorithm-recommendation {
  width: 20%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.Algorithm-analysis {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.Algorithm-card {
  background-color: rgb(30,35,40);
  border: 3px solid #1cc4bb;
  border-radius: 10px;
  height: 50px;
  width: 30%;
  font-size: 30px;
}

.Problem-highlight {
  margin-top: 20px;
  text-align: left;
  height: 20vh;
}

.Problem-description {
  background-color: rgb(30,35,40);
  border: 3px solid #1cc4bb;
  border-radius: 3px;
  min-height: 40vh;
  width: 100%;
  margin-top: 10px;
}

.Problem-details {
  background-color: rgb(30,35,40);
  border: 3px solid #1cc4bb;
  border-radius: 3px;
  width: 100%;
  min-height: 20vh;
  margin-top: 20px;
}

.Recommendation-card {
  background-color: rgb(30,35,40);
  border: 3px solid #1cc4bb;
  border-radius: 10px;
  height: 30px;
  padding-top: 10px;
  margin-top: 10px;
  width: 100%
}